* {
  margin: 0;
  padding: 0;
}


html,
body {
scroll-padding: 2rem;
  scroll-behavior: smooth;
  width: 100%;
  height: 30000px; /*TODO:remove*/
}

:root {
--secoendry: #ef6367;
--color2:#8f4f4e;
--colour3:#a35f5d;
--color1:#C87573;
--colour4:#db8c8a;
--color5:#e9a7a5;

  --color3: #fff5f2;
  --color4: #f3eed9;
  --secondary-text: #45505b;
}

/*sidenav bar*/
.side-nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50vh;
  position: fixed;
  align-items: flex-start;
  padding-left: 25px;
  justify-content: space-evenly;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.navBTN {
  font-weight: 300 !important;
  background-color: var(--color4) !important;
  color: var(--secondary-text) !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  padding: 0 0 0 9px !important;
}

.navBTN-text {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.navBTN:hover .navBTN-text {
  opacity: 1;
  width: auto;
}

.navBTN:hover {
  background-color: var(--color1) !important;
  color: white !important;
  float: left !important;
  width: 120px !important;
  border-radius: 60px !important;
  visibility: visible;
}

/*home*/
.home {
  background-image: url(./assets/workplace-items-marble-table-view.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #48005e42;
}

.homeBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: max-content;
  z-index: 1;
}

#myName {
  color: white;
  font-size: 5rem;
}

.homeBox2 {
  padding: 15px;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.icon {
  color: white;
  font-size: 1.75rem !important;
}

.typer {
  width: max-content;
  word-wrap: break-word;
}

.typer span {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 8px;
  text-decoration-color: var(--color1);
}

/*about*/
.about {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.about h2,
.skills h2,
.Resume h2,
.portfolio h2
{
  color: var(--color1);
  font-size: 3rem;
  text-align: center;
}


.about-span ,.resume-brief{
  color: var(--secondary-text);
  width: 80%;
  margin: 0 auto !important;
  font-size: 1.25rem !important;
  line-height: 1.25;
  padding: 25px;
  text-align: center;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.about-img {
  width: 30%;
  height: 50vh;
  background-image: url(./assets/Snapchat-78027603.JPG);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.box-details {
  width: 70%;
  height: 100%;
}

.box-details h4 {
  font-size: 1.75rem;
}

.box-span {
  color: var(--secondary-text);
}

.detials-lists {
  margin: 3vh 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.email-details {
  font-size: 1rem;
  width: 120px;
}

.details-span {
  width: 80% !important;
  margin: 2rem auto !important;
  color: var(--secondary-text);
}

.counters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 8vh auto;
  flex-wrap: wrap;
}

.counter {
  background-color: var(--secoendry);
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.counter-icon {
  font-size: 2.5rem !important;
  color: white !important;
  margin-top: 50%;
  transform: translateY(-50%);
}

.counter-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-span {
  font-size: 1.25rem;
  color: rgba(51, 51, 51, 0.616);
}

.counter-holder h4 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--secondary-text);
}

/*Skills*/
.skills-p {
  color: var(--secondary-text);
  font-size: 1rem;
  text-align: center;
}
.skills-container{
  width: 80%;
height: 25vh;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
 
}
.skills-box {
height: inherit;
width: 80%;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 120px;
  color: var(--secondary-text);
}

.skills-title-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.linerProgress {
  color:var(--color1) !important;
  background-color: var(--color4) !important;
}
/*Resume*/

.Resume{
  margin:5rem auto;
}
.summary-box{
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: column;
}
.summary-box h4{
  color: var(--color1);
  font-size: 2rem;
}
.summary-item{
  border-left:3.5px solid var(--color1);
  padding-left: 2rem;
  margin-bottom:3vh ;
}
.summary-list{
  font-size: 1rem !important;
  color: var(--secondary-text);
  padding: 5px 0;
}
.summary-title{
  font-weight: 400 !important;
  font-size: 1.55rem !important;
  color: var(--colour4) !important;
  
}

/*menu*/
.menu{
background-color: var(--color4) !important;
  height: 60px;
  width: 60px;
  position: fixed !important;
  top: 5px;
  right: 15px;
  border-radius: 50% !important;  
  color: var(--secondary-text) !important;
  display:none !important;
  transition: all 0.3s ease !important;
}
.menu:hover{
background-color: var(--colour4) !important;
  color: white !important;
}
.menu-icon{
  font-size: 1.75rem !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*drawer*/
.drawer-box{
  width: 255px;
}
.drawer-list{
  margin-top: 50vh !important;
  transform:translateY(-50%) !important;
  display:flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: space-evenly !important;
}
.listitemBTN{
width: 220px;
  background-color: var(--color1) !important;
  color: white !important;
  border-radius: 60px !important;
  text-transform: none !important;
  height: 50px !important;
}
.listitemBTN:hover{
  background-color: var(--secoendry) !important;
  color: white !important;
}

.listitemicon{
  color: white !important;
  margin: 0 -15px 0 50px;
}
.drawer h1{
  font-weight: 700 !important;
  color: var(--color1) !important;
  font-size: 1.75rem !important;
  text-align: center !important;
  margin-top: 1rem !important;
}
/*backtotop*/
.back-to-top{
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  width: 50px !important;
  height: 50px !important;
  background-color: var(--color4) !important;
  color: var(--secondary-text) !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease !important;
}
.back-to-top:hover {
  background-color: var(--colour4) !important;
  color: white !important;
}

/*portfolio*/
.portfolio {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-bar{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: var(--color1) 2.5px solid;
  border-radius: 20px;
}
.nav-bar button:not(.smallnavBTN){
  color: var(--secondary-text) !important;
  border-radius: 20px !important;
  padding: 8px 12px !important;
  background-color: white !important;
}
.smallnavBTN{
  background-color: var(--color1) !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 20px !important;
  padding: 8px 12px !important;
}

/*tabs*/
.tab{
  margin: auto;
  margin-top: 3rem;
  display: grid;
  gap: 10px;
  width: 60%;
}

/*All tab*/
.All {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
    
.All img,.mini img,.previous img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.grid-item {
    position: relative;
}
.grid-item::before {
  content: "";
  position: absolute;
bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color4);
  border-radius: 10px;
  transition: 0.5s ;
  z-index: 2;
}
.grid-item:hover::before {
  height: 70px;
}

.grid-item-text{
  position: absolute;
  z-index: 3;
  bottom: -45px;
  left: 15px;
 bottom: -45px;
 opacity: 0;
}
.grid-item:hover .grid-item-text{
    animation-play-state: paused;
  animation: text-anime 0.5s both;
}
@keyframes text-anime {
  25%{
    opacity:0;
  }
  100%{
    bottom: 15px;
    opacity: 1;
  }
}


.All1 {
    grid-row: span 2 / span 2;
}
.All2 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.All3 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.All4 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.All5 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.All6 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.All7 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.All8 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.All9 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}



/*mini porjects*/
   .mini
   {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   }  
.mini2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.mini3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.mini4 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}

.mini5 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.mini6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.mini7 {
    grid-column-start: 3;
    grid-row-start: 3;
}
/*pervious tab*/
.previous{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


.prev2{
    grid-column-start: 1;
    grid-row-start: 2;
}
.prev3{
    grid-column-start:1;
    grid-row-start:3;
}
.prev4{
      grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}
.prev5{
    grid-column-start: 2;
    grid-row-start: 3;
}
.prev6{
  grid-column-start:3;
    grid-row-start: 1;
}
.prev7{
  grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

/*media queries*/
@media (max-width:1070px) {
  .All,.mini, .previous {
    width: 100%;
  }
  .summary-item{
    width:80%;
  }
  .summary-box {
    display: grid;
    grid-template-columns: repeat(2, 0.75fr);
  }
  .menu {
    display: block !important;
  }
  .linerProgress {
    width:80vw !important;
  }
  .skills-container {
    flex-direction: column;
    height: 40vh;
    margin-top: 2rem;
  }
  .skills-box{
height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .email-details {
    width: max-content;
    text-align: center;
  }

  .detials-lists {
    flex-direction: column;
    width: max-content;
    margin: 3vh auto;
  }


  .typer {
    width: 65%;
  }

  .counters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px
  }

  .counter-holder:nth-child(3),
  .counter-holder:nth-child(4) {
    grid-row-start: 2;
  }

  #myName {
    font-size: 3.5rem;
  }

  .typer {
    font-size: 2rem;
  }

  .about-box {
    flex-direction: column;
    align-items: stretch;

  }

  .about-img,
  .box-details {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .side-nav{
    display: none;
  }
  .about-img {
    width: 100%;
    height: 50vh;
    margin-bottom: 3.5rem;
  }
}